<div class="user-settings-container">
  <%= render "devise/shared/userMenu" %>
  <div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

    <%= link_to "Back", :back %>

    <%= render "devise/shared/user_info" %>

    <%= render "devise/shared/address" %>

    <%= render "devise/shared/notification" %>

    <%= render "devise/shared/preferences" %>

    <br>

    <div class="save-user-settings">
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
