<div class="user-settings-container" data-controller="user-menu-tab avatar">
    <%= render "devise/shared/userMenu" %>
  <div class =user-settings-sub-info>
    <%= link_to "⬅", :back, class: "previous" %>

    <%= render "devise/shared/user_info" %>

    <%= render "devise/shared/address" %>

    <%= render "devise/shared/notification" %>

    <%= render "devise/shared/preferences" %>

    <br>
  </div>
</div>
