<div class="user-settings-container">
  <%= render "devise/shared/userMenu" %>
  <div>
    <%= link_to "Back", :back %>

    <%= render "devise/shared/user_info" %>

    <%= render "devise/shared/address" %>

    <%= render "devise/shared/notification" %>

    <%= render "devise/shared/preferences" %>

    <br>
  </div>
</div>
