<div class="user-settings-address" style="display: none;" data-user-menu-tab-target="address">
  <h1>Address</h1>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.input :street,
              required: true %>
      <%= f.input :post_code,
              required: true %>
      <%= f.input :city,
              required: true %>

<form>
<input class="" id="user_street"  name="user[street]"  type="text">
  <input class="" name="user[post_code]" id="user_post_code"  type="text">
  <input class=""  id="user_city" name="user[city]"  type="text">

    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>
</form>
