<div class="user-settings-preference" style="display: none;" data-user-menu-tab-target="preference">
  <h1>Preference</h1>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
    <%= f.error_notification %>



    <div class="form-inputs">
      <%= f.input :preference_type,
              required: true, :as => :hidden %>
      <%= f.input :preference_budget,
                  required: true, :as => :hidden %>


        <div class="preference_budget">
        <p><strong>I want to spend...<strong></p>

        <input type="hidden" name="user[preference_budget]" value="" autocomplete="off">
<div class="flex-cards-budget">
         <% [{value: '£', icon: ''}, {value: '££', icon: ''},  {value: '£££', icon: ''}, {value: '££££', icon: ''}].each do |n| %>

          <div>
            <% if current_user.preference_budget == (n[:value])  %>
              <input type="radio" value="<%= n[:value]%>" name="user[preference_budget]" id="user_preference_budget_<%=n[:value]%>" checked>
              <label class="clickable" for="user_preference_budget_<%=n[:value]%>">
                <i class="fa-solid <%= n[:icon]%>"></i> <%=  n[:value] %>
              </label>
          <% else %>
              <input type="radio" value="<%= n[:value]%>" name="user[preference_budget]" id="user_preference_budget_<%=n[:value]%>">
              <label class="clickable" for="user_preference_budget_<%=n[:value]%>">
                <i class="fa-solid <%= n[:icon]%>"></i> <%=  n[:value] %>
              </label>
          <% end %>
          </div>
        <% end %>
        </div>
      <div class="preference-type">
        <p><strong>I want to go to a...<strong></p>
        <input type="hidden" name="user[preference_type]" value="" autocomplete="off">
        <div class="flex-cards-preference">
        <% [{value: 'bar', icon: 'fa-champagne-glasses'}, {value: 'restaurant', icon: 'fa-solid fa-utensils'},  {value: 'casino', icon: 'fa-solid fa-dice'}, {value: 'Night club', icon: 'fa-solid fa-utensils'}, {value: 'Musuem', icon: 'fa-solid fa-building-columns'}, {value: 'Movie theater', icon: 'fa-solid fa-masks-theater'}].each do |n| %>

          <span>
            <% if current_user.preference_type == (n[:value])  %>

              <input type="radio" value="<%= n[:value]%>" name="user[preference_type]" id="user_preference_type_<%=n[:value]%>" checked>
              <label class="clickable" for="user_preference_type_<%=n[:value]%>">
                <i class="fa-solid <%= n[:icon]%>"></i> <%=  n[:value] %>
              </label>
          <% else %>
              <input type="radio" value="<%= n[:value]%>" name="user[preference_type]" id="user_preference_type_<%=n[:value]%>">
              <label class="clickable" for="user_preference_type_<%=n[:value]%>">
                <i class="fa-solid <%= n[:icon]%>"></i> <%=  n[:value] %>
              </label>
          <% end %>
          </span>
        <% end %>
        </div>

      </div>
    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-flat" %>
    </div>
  <% end %>

</div>
