<div class="user-settings-menu">
  <div class="user-settings-tabs">
    <table class="table">
      <tbody>

      <%= cl_image_tag current_user.photo.key,  width: 150, height: 150, crop: :thumb, gravity: :face, class: "nav-link", data: {avatar_target: "avatar", action: "click->avatar#showFileInterface"} %>
        <tr>
          <th scope="row">
            <%= link_to '/', class: "dropdown-item tab-selected", remote: true, data: { action: 'click->user-menu-tab#displayAccount', user_menu_tab_target: "button" } do %>
              <i class="fa-solid fa-user-shield"></i>  Account
            <% end %>
          </th>
        </tr>
        <tr>
          <td>
            <%= link_to '/', class: "dropdown-item ", remote: true, data: { action: 'click->user-menu-tab#displayAddress', user_menu_tab_target: "button" } do %>
              <i class="fa-solid fa-address-book"></i> Address
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to '/', class: "dropdown-item", remote: true, data: { action: 'click->user-menu-tab#displayPreference', user_menu_tab_target: "button" } do %>
              <i class="fa-solid fa-sliders"></i> Preferences
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= link_to '/', class: "dropdown-item ", remote: true, data: { action: 'click->user-menu-tab#displayNotification', user_menu_tab_target: "button" } do %>
              <i class="fa-solid fa-bell"></i>  Notifications
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div class="delete-account">
    <p>Unhappy?</p>
    <p>
      <%= link_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    </p>
  </div>
</div>
