<div class="dashboard-page">

  <div class="section left-side">
    <div class="dash-card friends-list">
      <h2>Your Friends</h2>
      <div class="button-dash">
        <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addRelationModal">
          Add Friend
        </button>
      </div>
      <ul>
      <% @friends.where(user_id: current_user).where(status: "Accepted").each do |friend|%>
        <li><%= User.find(friend.friend_id).first_name %>
            <%= link_to "Details", user_user_friend_path(current_user, friend)%>
            <%= link_to "Delete", user_user_friend_delete_path( friend, current_user), data: { turbo_method: :delete, turbo: true } %>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="dash-card pending-friends">
      <h3>Pending</h3>
      <ul>
      <% @friends.where(friend_id: current_user).where(status: "Pending").each do |friend|%>
        <li><%= User.find(friend.user_id).first_name %>...</li>
      <% end %>
      <% @friends.where(user_id: current_user).where(status: "Pending").each do |friend|%>
        <li><%= User.find(friend.friend_id).full_name %>
            <%= link_to "Accept", accept_user_user_friend_path(current_user, friend), data: { turbo_method: :post } %>
            <%= link_to "Decline", user_user_friend_delete_path(friend, current_user), data: { turbo_method: :delete, turbo: true }  %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="section middle">
    <div class="dash-card events-card">
      <h2>Upcoming Events</h2>

     <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addEventModal">
          Add Event
        </button>
      <div class="button-dash">
      </div>
        <% @events.each do |event|%>
          <div class="event-card">
            <%= link_to "#{Event.find(event.id).title}", event_path(event) %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="section right-side">
    <div class="dash-card suggested-for-user">
      <h2> Suggested For You</h2>
    </div>
    <div class="dash-card adverts-card">
      <h3>...adverts...</h3>
    </div>
  </div>

</div>

<!-- Modal -->

<!-- add event modal -->
<%= render "pages/modals/addEventModal" %>

<!-- Add Friends Modal -->
<%= render "pages/modals/addFriendModal" %>
