<div class="dashboard-page container">
<div class="row">
  <div class="col section left-side">
    <div class="dash-card friends-list">
      <h3>Your Friends</h3>
      <div class="button-dash">
        <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addRelationModal">
          Add Friend
        </button>
      </div>
      <%# friends I have added who have accepted %>
      <ul>
      <% @friends.where(user_id: current_user).where(status: "Accepted").each do |friend|%>
        <li><%= image_tag User.find(friend.friend_id).img_url%><%= User.find(friend.friend_id).full_name %></li>
      <% end %>
      <%# friends who have added me and I have accepted %>
      <% @friends.where(friend_id: current_user).where(status: "Accepted").each do |friend|%>
        <li><%= image_tag User.find(friend.user_id).img_url%><%= User.find(friend.user_id).full_name %></li>
      <% end %>
      </ul>
    </div>



<%# <div id="fb">
  <div id="fb-top">
    <p><b>Friend Requests</b><span>Find Friends &bull; Settings</span></p>
  </div>
  <img src="https://s13.postimg.org/xgla0jo4n/image.jpg" height="100" width="100" alt="Image of woman">
  <p id="info"><b>Natalie G.</b> <br> <span>14 mutual friends</p>
  <div id="button-block">
    <div id="confirm">Confirm</div>
    <div id="delete">Delete Request</div>
  </div>
</div> %>





    <div class="dash-card pending-friends">
      <h3>Pending</h3>
      <%# friends I have added and I am waiting on them to accept/decline %>
      <ul>
        <% @friends.where(user_id: current_user).where(status: "Pending").each do |friend|%>
          <li>
            <%# <%= image_tag User.find(friend.friend_id).img_url%>
            <%# <%= User.find(friend.friend_id).full_name... %>

             <div id="fb">
              <div id="fb-top">
                <p><b>Friend Requests</b></p>
              </div>
              <%= image_tag User.find(friend.friend.user_id).img_url%><%= User.find(friend.friend.user_id).full_name %>
              <%# <img src="https://s13.postimg.org/xgla0jo4n/image.jpg" height="100" width="100" alt="Image of woman"> %>
              <p id="info"><b><%=User.find(friend.user_id).full_name  %></b> <br> <span>14 mutual friends</p>
              <div id="button-block">
                <div id="confirm">
                  <%= link_to accept_user_friend_path(friend), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                </div>
                <div id="delete">
                  <%= link_to decline_user_friend_path(friend), data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                </div>
              </div>
            </div>

          </li>

        <% end %>
        <%# friends who have added me and I can accept/decline %>
        <% @friends.where(friend_id: current_user).where(status: "Pending").each do |friend|%>
          <li>

            <div class="accept-decline">
              <%= image_tag User.find(friend.user_id).img_url%><%= User.find(friend.user_id).full_name %>
              <div>
                <%= link_to accept_user_friend_path(friend), data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-check"></i>
                <% end %>
                <%= link_to decline_user_friend_path(friend), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-xmark"></i>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>














  <div class="col-5 section middle">
    <div class="dash-card events-card">
      <h2><strong>Upcoming Events</strong></h2>
      <div class="button-dash">
        <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addEventModal">
          Add Event
        </button>
      </div>
        <% @events.each do |event|%>
          <%= link_to event_path(event), class:"card-link" do%>
          <div class="event-card">
            <div class="event-info">
              <ul>
                <li><%= event.title %></li>
                <li><%=  event.description%></li>
                <li><%= event.event_date.strftime("%d / %m / %Y") %></li>
              </ul>
            </div>
            <div class="avatars">
              <% @event_members.where(event_id: event.id).each do |member|%>
                <%= image_tag User.find(member.user_id).img_url%>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="col section right-side">
    <div class="dash-card suggested-for-user">
      <h3> Near You</h3>

    </div>
  </div>
</div>
</div>

<%# <%=@mysuggestions%> %>
<!-- Modal -->

<!-- add event modal -->
<%= render "pages/modals/addEventModal" %>

<!-- Add Friends Modal -->
<%= render "pages/modals/addFriendModal" %>
<%# <% @mysuggestions.each do |suggestion|%>
        <%# <div class="suggestion-card" style="width: 18rem;"> %>
          <%# <div class="card-body"> %>
            <%# <h5 class="card-title"><%= suggestion['name']</h5> %>
          <%# </div> %>
          <%# <img class="card-img-top" src="<%="#{suggestion['photos'][0]}"" alt="Card image cap"> %>
          <%# <ul class="list-group list-group-flush"> %>
            <%# <li class="list-group-item"><% suggestion['price level'].to_i.times do %>
                <%# <i class="fa-solid fa-sterling-sign"></i> %>
              <%# <% end %>
            <%# </li> %>
            <%# <li class="list-group-item"><% suggestion['rating'].to_i.times do %>
              <%# <i class="fa-solid fa-star"></i> %>
            <%# <% end %>
            <%# </li> %>
          <%# </ul> %>
        <%# </div> %>
      <%# <% end %>


<style>
#fb{
  width:500px;
  border:1px solid gray;
  border-radius:5px;
  position:relative;
  height:175px;
}
#fb p{
  font-family:sans-serif;
  margin: 0 0 0 10px;
  line-height:30px;
}

#fb-top span{
  color:#4267B2;
  float:right;
  margin-right:10px;
}
#fb-top{
  background-color:#efefef;
  height:30px;
  width:500px;
  border-radius:5px 5px 0 0;
  position:absolute;
  top:-1px;
  left:-1px;
  border:1px solid gray;
}

#fb img{
  position:absolute;
  left:10px;
  top:52.5px;
}

#info{
  position:absolute;
  left:120px;
  top:75px;
}

#info {
  color:#4267B2;
  line-height:25px;
  font-size:18px;
}

#info span{
  color:#777;
  font-size:14px;
}

#button-block{
  position:absolute;
  right:10px;
  top:85px;
}

#button-block div{
  display:inline-block;
}

#confirm, #delete{
  background-color:#4267B2;
  color:white;
  padding:7px;
  border-radius:2px;
  margin-right:10px;
  font-family:sans-serif;
}

#delete{
  color:#222;
  background-color:#bbb;
  border:1px solid #999;
  padding:6px;
  margin-right:0;
}

#button-block div:hover{
  opacity:.8;
  cursor:pointer;
}




</style>
