<div class="dashboard-page container">
<div class="row">
  <div class="col section left-side">
    <div class="dash-card friends-list">
      <h3>Your Added Friends</h3>
      <div class="button-dash">
        <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addRelationModal">
          Add Friend
        </button>
      </div>
      <%# friends I have added who have accepted %>
      <ul id='friend-list'>

        <li> <% @friends.where(user_id: current_user).where(status: "Accepted").each do |friend|%> </li>
     <li class='friend selected'>   <%= image_tag User.find(friend.friend_id).img_url%><%= User.find(friend.friend_id).full_name %></li>
      <% end %>
      <%# friends who have added me and I have accepted %>
      <% @friends.where(friend_id: current_user).where(status: "Accepted").each do |friend|%>
        <li class='friend selected'><%= image_tag User.find(friend.user_id).img_url,  width: 50, height: 50, class: "nav-link" %>
        <%= User.find(friend.user_id).full_name %></li>
      <% end %>
      </ul>
    </div>




<%# <div id="fb">
  <div id="fb-top">
    <p><b>Friend Requests</b><span>Find Friends &bull; Settings</span></p>
  </div>
  <img src="https://s13.postimg.org/xgla0jo4n/image.jpg" height="100" width="100" alt="Image of woman">
  <p id="info"><b>Natalie G.</b> <br> <span>14 mutual friends</p>
  <div id="button-block">
    <div id="confirm">Confirm</div>
    <div id="delete">Delete Request</div>
  </div>
</div> %>





    <div class="dash-card pending-friends">
      <h3>Pending Friend Requests</h3>
      <ul>
        <% @friends.where(user_id: current_user).where(status: "Pending").each do |friend|%>
          <li>
             <div id="fb">
              <div id="fb-top">
                <p><b>Friend Requests</b></p>
              </div>
              <%= image_tag User.find(friend.friend_id).img_url,  width: 50, height: 50, class: "nav-link" %><%= User.find(friend.friend_id).full_name %>
              <%# <img src="https://s13.postimg.org/xgla0jo4n/image.jpg" height="100" width="100" alt="Image of woman"> %>
              <p id="info"><b><%=User.find(friend.friend_id).full_name  %></b> <br> <span>14 mutual friends</p>
              <div id="button-block">
                <div id="confirm">
                  <%= link_to accept_user_friend_path(friend), data: { turbo_method: :post } do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                </div>
                <div id="delete">
                  <%= link_to decline_user_friend_path(friend), data: { turbo_method: :delete } do %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>

                </div>
              </div>
            </div>

          </li>

        <% end %>
        <%# friends who have added me and I can accept/decline %>
        <% @friends.where(friend_id: current_user).where(status: "Pending").each do |friend|%>
          <li>

            <div class="accept-decline">
              <%= image_tag User.find(friend.user_id).img_url,  width: 50, height: 50, class: "nav-link" %><%= User.find(friend.user_id).full_name %>
              <div>
                <%= link_to accept_user_friend_path(friend), data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-check"></i>
                <% end %>
                <%= link_to decline_user_friend_path(friend), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-xmark"></i>
                <% end %>
              </div>
            </div>

          </li>
        <% end %>
      </ul>
    </div>
  </div>














  <div class="col-5 section middle">
    <div class="dash-card events-card">
      <h2><strong>ing Events</strong></h2>
      <div class="button-dash">
        <button type="button" class="btn-dash" data-bs-toggle="modal" data-bs-target="#addEventModal">
          Add Event
        </button>
      </div>
        <% @events.each do |event|%>
          <%= link_to event_path(event), class:"card-link" do%>
          <div class="event-card">
            <div class="event-info">
              <ul>
                <li><%= event.title %></li>
                <li><%=  event.description%></li>
                <li><%= event.event_date.strftime("%d / %m / %Y") %></li>
              </ul>
            </div>
            <div class="avatars">
              <% @event_members.where(event_id: event.id).each do |member|%>
              <%= image_tag User.find(member.user_id).img_url,  width: 50, height: 50, class: "nav-link" %>
              <% end %>
            </div>
            <div id="interested">
              <%= link_to accept_event_member_path(@event_members.where(event_id: event.id).first), data: { turbo_method: :post } do %>
              <i class="fa-solid fa-check"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="col section right-side">
    <div class="dash-card suggested-for-user">
      <h3> Near You</h3>

    </div>
  </div>
</div>
</div>

<%# <%=@mysuggestions%>
<!-- Modal -->

<!-- add event modal -->
<%= render "pages/modals/addEventModal" %>

<!-- Add Friends Modal -->
<%= render "pages/modals/addFriendModal" %>
<%# <% @mysuggestions.each do |suggestion|%>
        <%# <div class="suggestion-card" style="width: 18rem;"> %>
          <%# <div class="card-body"> %>
            <%# <h5 class="card-title"><%= suggestion['name']</h5> %>
          <%# </div> %>
          <%# <img class="card-img-top" src="<%="#{suggestion['photos'][0]}"" alt="Card image cap"> %>
          <%# <ul class="list-group list-group-flush"> %>
            <%# <li class="list-group-item"><% suggestion['price level'].to_i.times do %>
                <%# <i class="fa-solid fa-sterling-sign"></i> %>
              <%# <% end %>
            <%# </li> %>
            <%# <li class="list-group-item"><% suggestion['rating'].to_i.times do %>
              <%# <i class="fa-solid fa-star"></i> %>
            <%# <% end %>
            <%# </li> %>
          <%# </ul> %>
        <%# </div> %>
      <%# <% end %>
