<div class="user-settings-container">

  <%= render "shared/userMenu" %>

  <div class="user-settings-notification">
    <h1>Preference</h1>
    <br>
    <%= simple_form_for(current_user, url: registration_path(current_user), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :preference_type,
                required: true %>
        <%= f.input :preference_budget,
                    required: true %>

      </div>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
