<div class="nyan-navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to "/", class: "navbar-brand" do %>
        <div class="nav-title">
          <%= image_tag "white_logo.png" %><h3>Not Your Average Night</h3>
        </div>
      <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="notification" data-controller="notification-subscription" data-notification-subscription-notification-id-value="<%= current_user.id %>">
            <li class="nav-item dropdown notifications" data-notification-subscription-target="notifications">
                <a id="navbarNotifDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-bell"></i><span class="badge" data-notification-subscription-target="notificationsCount" style="color:white"> <%= @notifications.count %> </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarNotifDropdown" data-notification-subscription-target="notificationsMessage">
                  <%= render 'notifcations/popover' %>
                </ul>
            </li>
          </div>
          <li class="nav-item dropdown">
            <%= image_tag current_user.img_url, class: "avatar ", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-user-gear" ></i>
                  Profile Settings
                <% end %>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                  <i class="fa-solid fa-right-from-bracket" ></i>
                   Log out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn signup" %>
            <%= link_to "Login", new_user_session_path, class: "btn login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
