<div id="<%= dom_id event %>" class="container">
  <div class="row">
    <div class="event-show-card show-card col">
      <div class="event-info">
        <h2><%= event.title %></h2>
        <p><%= event.description %></p>
        <p>When: <%= event.event_date %></p>
        <div>
          Who:
          <% @members.where(event_id: event).each do |member| %>
            <%= image_tag  User.find(member.user_id).img_url, class:"avatar" %><%= User.find(member.user_id).full_name%>
          <% end %>
        </div>
        <p>Location: <%= event.location %></p>
      </div>
    </div>

    <div class="map-show-card show-card col" id="map" style="width: 50%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
