<div id="<%= dom_id event %>" class="container">
  <div class="row">
    <div class="event-show-card show-card col">
      <div class="event-info">
        <div><h2><%= event.title %></h2></div>
        <div><p><%= event.description %></p></div>
        <div><p>When: <%= event.event_date.strftime("%d / %m / %Y") %></p></div>
        <div>
          <p>Who's Going:</p>
          <% @members.where(event_id: event).each do |member| %>
            <p><%= image_tag  User.find(member.user_id).img_url, class:"avatar" %><%= User.find(member.user_id).first_name%></p>
          <% end %>
        </div>
        <div><p>Where: <%= event.location %></p></div>
      </div>
    </div>

    <div class="map-show-card show-card col" id="map" style="width: 50%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
