<%= simple_form_for(@event, url: events_path ) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs-edit">
    <%= f.input :title, placeholder:'Coolest event ever!', class: "form-top"%>
    <%= f.input :description, placeholder: 'Anything special happening?', class: "form-top", my_wrapper_tag: :p%>
    <%= f.input :location,:as => :hidden, class: "form-location"%>
    <div class="form-inputs-edit-time">
      <%= f.date_select :event_date %>
      <%= f.time_select :event_date, ignore_date: true %>
    </div>
  </div>

  <div class="form-actions">
      <%= f.button :submit%>
  </div>

<% end %>


<script>
function myfunction(name) {
  document.getElementById('event_location').value = name
}
</script>
