<h1>Editing event</h1>

<%= render "form", event: @event %>

<div class="events-and-map-container">
  <section class="layout">
    <% @suggestions.each_with_index do |suggestion, index|%>
      <% if index <= 3%>

        <div class="card" style="width: 18rem;" id="<%=index%>">
          <img class="card-img-top" src="<%="#{suggestion['photos'][0]}"%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= suggestion['name'] %></h5>
            <p class="card-text"><%= suggestion['address'] %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= '⭐'*suggestion['rating'].to_i%></li>
            <li class="list-group-item"><%= '£'*suggestion['price level'].to_i%></li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="<%="#{suggestion['website']}"%>" class="card-link">Website</a>
            <button id="button-<%=index%>" onmouseover="myfunction('<%=suggestion['name']%> <%=suggestion['address']%>')">Try it</button>
          </div>
        </div>
        <% end %>
        <%end%>

  </section>
  <div class="map-right">
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=512x512&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C{post_code__here}&key=AIzaSyCSlUELYAxe0sfUJpUEJQU3TcF1OXNS-xs">
  </div>
</div>

<br>

<div>
  <%= link_to "Show this event", @event %> |
  <%= link_to "Back to events", events_path %>
</div>
