<% label_array = ['A','B','C','D']%>
<div id="edit-events-container">
  <div id="edit-events-left-container">
    <div id="edit-events-form">
      <%= render "form", event: @event %>
    </div>
    <div id="edit-events-events">
      <% @suggestions.each_with_index do |suggestion, index|%>
      <% if index <= 3%>
        <div class="card mb-3 event-cards" style="max-height: 200px;" id="<%="business-#{index}"%> data_">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="<%="#{suggestion['photos'][0]}"%>" class="img-fluid rounded-start image" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= suggestion['name'] + "-  #{label_array[index]}" %></h5>
                <p class="card-text"><%= suggestion['address'] %></p>
                <p class="card-text"><%= '⭐'*suggestion['rating'].to_i%></p>
                <p class="card-text"><%= '£'*suggestion['price level'].to_i%></p>
                <a href="<%="#{suggestion['website']}"%>" target="_blank" class="card-link">Check them out!</a>
                <button class="button" id="button-<%=index%>" onmouseover="myfunction('<%=suggestion['name']%> <%=suggestion['address']%>')">Go</button>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    <%end%>
    </div>
  </div>
  <div id="edit-events-right-container">
    <div id="map"></div>
  </div>
</div>
<% radius = @suggestions[0]['radius'].split(',')%>
<% suggestions_array = @suggestions %>


<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBESAb2LgEWKH77louT0bFz9hH3XBB3U3c&callback=initMap&v=weekly"
      defer
    ></script>
<script>
const labels = "ABCD";
let labelIndex = 0;
var s_array0 = ['<%=suggestions_array[0]['latlng']['lat']%>','<%= suggestions_array[0]['latlng']['lng']%>']
var s_array1 = ['<%=suggestions_array[1]['latlng']['lat']%>','<%= suggestions_array[1]['latlng']['lng'] %>']
var s_array2 = ['<%=suggestions_array[2]['latlng']['lat']%>','<%= suggestions_array[2]['latlng']['lng'] %>']
var s_array3 = ['<%=suggestions_array[3]['latlng']['lat']%>','<%= suggestions_array[3]['latlng']['lng'] %>']


var add_marker = (location, thismap) => {
  new google.maps.Marker({
  position: location,
  map: thismap,
  label: labels[labelIndex++ % labels.length]

});
}

function initMap() {
  // The location of centre
  const centre = { lat: parseFloat('<%=radius[0]%>'), lng: parseFloat('<%=radius[1]%>') };
  // The map, centered at centre
  const map = new google.maps.Map(document.getElementById("map"), {
    mapId: 'iceblue'
    zoom: 14.5,
    center: centre,
  });




  add_marker({lat: parseFloat(s_array0[0]), lng: parseFloat(s_array0[1])}, map)
  add_marker({lat: parseFloat(s_array1[0]), lng: parseFloat(s_array1[1])}, map)
  add_marker({lat: parseFloat(s_array2[0]), lng: parseFloat(s_array2[1])}, map)
  add_marker({lat: parseFloat(s_array3[0]), lng: parseFloat(s_array3[1])}, map)



  // The marker, positioned at centre   const uluru = { lat: -25.344, lng: 131.031 };
  // const marker = new google.maps.Marker({
  //   position: centre,
  //   map: map,
  // });

}

window.initMap = initMap;
</script>
