<div id="<%= dom_id preference %>">
  <p>
    <strong>Type:</strong>
    <%= preference.type %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= preference.budget %>
  </p>

  <p>
    <strong>User:</strong>
    <%= preference.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= preference.group_id %>
  </p>

</div>
