<div id="<%= dom_id address %>">

  <p>
    <strong>Street:</strong>
    <%= address.alias %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Is default:</strong>
    <%= address.is_default %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

</div>
