<p style="color: green"><%= notice %></p>

<h1>User friends</h1>

<div id="user_friends">
  <% @user_friends.each do |user_friend| %>
    <%# <%= render user_friend %>
    <%= User.find(user_friend.id).first_name%> <%= User.find(user_friend.id).last_name%>
    <%= link_to "Details", user_user_friend_path(current_user, user_friend.id)%>
  <% end %>

</div>

<%= link_to "New user friend", new_user_user_friend_path %>
