<p style="color: green"><%= notice %></p>

<%= render @user_friend %>

<div>
  <%= link_to "Edit this user friend", edit_user_friend_path(@user_friend) %> |
  <%= link_to "Back to user friends", user_friends_path %>

  <%= button_to "Destroy this user friend", @user_friend, method: :delete %>
</div>
